html{
    scroll-behavior: smooth;
}
h1{
text-align: center;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#back-card{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 550px;
    margin: 50px auto;
    border: 2px solid whitesmoke;
}



.container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;   
}


#task-input{
    padding: 10px;
    font-size: 20px;
    margin-right: 5px;
    border-radius: 5px;
    
}

.input-group{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

#add-task-btn{
padding: 10px;
font-size: 20px;
margin-left: 5px;   
border-radius: 5px;
}

#task-list{
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin-left: 20px;
    
}

ul li {
}

.list-item{
    line-height:1.5;
    padding: 10px;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 20px ;
    
}

.delbtn{
    position: relative;
    right: 40px;
}


.delbtn:active{
    cursor: pointer;
    background-color: black;
    color: white;
    
}
    